*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box;
}
#header{
    height: 100px;
    width: 100%;
    background-color: blue;

}
#header img{
    float: left;
    margin: 10px;
}
#header #header_1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
}
#header #header_2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
}
#header button{
    float: right;
    background-color: rgb(7, 7, 122);
    margin-top: -70px;
    margin-right: 20px;
    color: #ffffff;
}
#header #sreach{
   float:right;
   background-color: rgb(24, 24, 133);
   margin-top: -70px;
   margin-right: 50px;
   color: #ffffff;
}
#header #menu{
    margin-top:-30px;
    margin-right: 200px;
    float: right;
    overflow: auto;
    white-space: nowrap;
  
}
#header #menu ul li{
    background-color: #518eff;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    padding: 14px;
    text-align: center;

}
#header #menu ul li:hover{
    background-color: #29ff89;
}
#Acticle #text_s{
   margin: 30px 10px;
}
#Acticle #text_s1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #bb2929;
    text-shadow: 4px 1px #29ff89;
    margin: 10px 10px;
    text-decoration: blink;
    width: 700px;
}
#Acticle #input_box .input_contact{
    margin: 10px 10px;
    float: left;
}
#Acticle #input_box {
    width: 700px;
}
#Acticle #input_box .input_contact .iContact{
    width: 150px;
    height: 30px;
    background-color: #dadada;
}
#Acticle #input_box .input_contact #Message{
    width: 300px;
    height: 100px;
}
#Acticle #input_box .button{
    margin-left: 10px!important;
}
#Acticle #input_box .row:after {
    content: "";
    display: table;
    clear: both;
  }
#Acticle .info h2{
    border-bottom: 1px solid #333;
}
#Acticle .info{
    float: left;
    position: absolute;
    top:200px;
    left: 450px;
}
#Acticle #special{
    float:right;
    top:160px;
    position: absolute;
    left: 700px;
}
#Acticle #special h2{
    border-bottom: 1px dotted #333;
}
#Acticle #special .Readmore{
    text-decoration: none;
    color: blue;
    text-align: right;
    float:right;
    font-weight: bold;
}
footer{
    margin-top: 20px;
    width: 100%;
    display: table;
    height: 60px;
    background-color: #1303ee;
    padding-left: 10px ;
    padding-top: 10px;
    color: aqua;
}
footer .span{
    color: #ffffff!important;
}